body {
    background-color: #BCC4DE;
 }
div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
ul {
   color:green;
   font-size: 20px;
}
h1 {
   color:2E8B57;
   font-size: 30px;
 }
footer {
    font-size: 15px;
}

img {
   width:600px;
   height: 400px;
   background-color:yellow;
}
p {
  color: D2B48C;
}


      
